body {
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: cursive;
    font-weight: 300;
}

#APP {
    width: 80%;
    height: 800px;
    background-color: aliceblue;
}

#GAME {
    width: 80%;
    height: 800px;
    background-color: lightcoral;
}

#CHATBOT {
    width: 80%;
    height: 800px;
    background-color: aqua;
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

.line {
    height: 9px;
    background-color: crimson;
    width: 80px;
    margin: 9px auto;
}
